.frameChild {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--color-gainsboro);
  box-sizing: border-box;
  height: 0.063rem;
}
.lineParent {
  position: absolute;
  top: 32.313rem;
  left: 0;
  width: 74.444rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
}
.rectangleDiv {
  align-self: stretch;
  position: relative;
  background-color: var(--color-whitesmoke-200);
  height: 3.438rem;
}
.pm {
  position: relative;
  font-size: var(--table-text-size);
}
.date,
.pmParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pmParent {
  gap: var(--gap-13xl);
  font-size: var(--table-text-size);
  font-family: var(--table-text-roboto);
}
.date {
  gap: var(--gap-12xl);
}
.div {
  position: relative;
  font-size: var(--table-text-size);
  color: var(--green-1);
}
.creditParent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.parent {
  font-size: var(--table-text-size);
  color: var(--green-1);
}
.credit,
.parent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-10xl);
}
.acBalance {
  position: relative;
}
.accBalance,
.cms4136431811Parent,
.group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.group {
  gap: var(--gap-11xl);
  font-size: var(--table-text-size);
}
.accBalance,
.cms4136431811Parent {
  gap: var(--gap-7xl);
}
.cms4136431811Parent {
  align-items: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--table-text-size);
}
.utrRrn {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-4xl);
}
.frame,
.tableData,
.utrRrn {
  display: flex;
  justify-content: flex-start;
}
.tableData {
  align-self: stretch;
  overflow-x: auto;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-4xs);
  gap: var(--gap-8xl);
  margin-top: -2.5rem;
}
.frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 74.444rem;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.frameParent {
  align-self: stretch;
  position: relative;
  height: 23.125rem;
  text-align: left;
  font-size: var(--table-heading-size);
  color: var(--color);
  font-family: var(--table-text);
}
table {
  border-collapse: collapse;
  width: 100%;
}
table td {
  padding: 1rem 0rem 1rem 0rem;
}
table th {
  margin: 0;
  padding: 1rem 0 1rem 0.5rem;
}
.table_header {
  background-color: #f5f5f5;
}
